.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1em;
}
.file-done{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 8%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    background-color: #f55e30;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 1em;
    transition: background-color 0.4s;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
}